#a {
    height: 200px;
    width: 200px;
    background-color:black;
    padding: 20px;
}

#b {
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    left: 50px;
    right: 50px;
}
