img{
    width: 600px;
    height: 400px;

}

#block{
    width: 400px;
    height: 400px;
    background-image: url("https://images-ext-2.discordapp.net/external/OdMeQqzs9Jo2-neY2qOG6Ku3GkiVdNEzbd19t7X8sis/https/icons.iconarchive.com/icons/icojam/matreshka/256/red-matreshka-inside-icon-icon.png");
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}

td, th{
    border-bottom: 2px dotted red;
    
}

table{
    border-radius: 15px;
    background-image: linear-gradient(to bottom, red, #222222);
}