.image-1 {
    position: absolute;
    width: 1440px;
    height: 1000px;
    left: 0px;
    top: 0px;
    
    background: url(image.png);
}

.image-2 {
    position: relative;
    width: 450px;
    height: 206px;
    left: 800px;
    background: url(image.png);
}